.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}



.header {
  width:100vw;
  height: 3em;
  background-color: #ab2a19;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.form {
  align-items: center;
  flex-direction: column;
  height: 100px;
}


